# 02_data_cleaning

The dataset appears to be well-structured and free from common quality issues. It appears that the only potential issue is the presence of missing values.

Since there are no other apparent problems, no additional cleaning steps are necessary at this stage beyond handling the missing data.

# Imports

In [1]:
import sys

import pandas as pd

sys.path.append("../../src")
import GiveMeSomeCredit

# Data Files

## `cs-training.csv`

In [2]:
df = GiveMeSomeCredit.load_training_data()

/Users/rina/llm-classification/data/GiveMeSomeCredit/raw/cs-training.csv Memory Usage: 13.73 MB

,dtype,count,non_null,null_count,mean,std,min,25%,50%,75%,max
SeriousDlqin2yrs,int64,150000,150000,0,0.066840,0.249746,0.0,0.000000,0.000000,0.000000,1.0
RevolvingUtilizationOfUnsecuredLines,float64,150000,150000,0,6.048438,249.755371,0.0,0.029867,0.154181,0.559046,50708.0
age,int64,150000,150000,0,52.295207,14.771866,0.0,41.000000,52.000000,63.000000,109.0
NumberOfTime30-59DaysPastDueNotWorse,int64,150000,150000,0,0.421033,4.192781,0.0,0.000000,0.000000,0.000000,98.0
DebtRatio,float64,150000,150000,0,353.005076,2037.818523,0.0,0.175074,0.366508,0.868254,329664.0
MonthlyIncome,float64,120269,120269,29731,6670.221237,14384.674215,0.0,3400.000000,5400.000000,8249.000000,3008750.0
NumberOfOpenCreditLinesAndLoans,int64,150000,150000,0,8.452760,5.145951,0.0,5.000000,8.000000,11.000000,58.0
NumberOfTimes90DaysLate,int64,150000,150000,0,0.265973,4.169304,0.0,0.000000,0.000000,0.000000,98.0
NumberRealEstateLoansOrLines,int64,150000,150000,0,1.018240,1.129771,0.0,0.000000,1.000000,2.000000,54.0
NumberOfTime60-89DaysPastDueNotWorse,int64,150000,150000,0,0.240387,4.155179,0.0,0.000000,0.000000,0.000000,98.0
NumberOfDependents,float64,146076,146076,3924,0.757222,1.115086,0.0,0.000000,0.000000,1.000000,20.0

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

## `cs-test.csv`

In [3]:
df = GiveMeSomeCredit.load_testing_data()

/Users/rina/llm-classification/data/GiveMeSomeCredit/raw/cs-test.csv Memory Usage: 9.29 MB

,dtype,count,non_null,null_count,mean,std,min,25%,50%,75%,max
SeriousDlqin2yrs,float64,0,0,101503,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RevolvingUtilizationOfUnsecuredLines,float64,101503,101503,0,5.310000,196.156039,0.0,0.030131,0.152586,0.564225,21821.0
age,int64,101503,101503,0,52.405436,14.779756,21.0,41.000000,52.000000,63.000000,104.0
NumberOfTime30-59DaysPastDueNotWorse,int64,101503,101503,0,0.453770,4.538487,0.0,0.000000,0.000000,0.000000,98.0
DebtRatio,float64,101503,101503,0,344.475020,1632.595231,0.0,0.173423,0.364260,0.851619,268326.0
MonthlyIncome,float64,81400,81400,20103,6855.035590,36508.600375,0.0,3408.000000,5400.000000,8200.000000,7727000.0
NumberOfOpenCreditLinesAndLoans,int64,101503,101503,0,8.453514,5.144100,0.0,5.000000,8.000000,11.000000,85.0
NumberOfTimes90DaysLate,int64,101503,101503,0,0.296691,4.515859,0.0,0.000000,0.000000,0.000000,98.0
NumberRealEstateLoansOrLines,int64,101503,101503,0,1.013074,1.110253,0.0,0.000000,1.000000,2.000000,37.0
NumberOfTime60-89DaysPastDueNotWorse,int64,101503,101503,0,0.270317,4.503578,0.0,0.000000,0.000000,0.000000,98.0
NumberOfDependents,float64,98877,98877,2626,0.769046,1.136778,0.0,0.000000,0.000000,1.000000,43.0

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
1,NaN,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
2,NaN,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
3,NaN,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
4,NaN,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
5,NaN,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
101499,NaN,0.282653,24,0,0.068522,1400.0,5,0,0,0,0.0
101500,NaN,0.922156,36,3,0.934217,7615.0,8,0,2,0,4.0
101501,NaN,0.081596,70,0,836.000000,NaN,3,0,0,0,NaN
101502,NaN,0.335457,56,0,3568.000000,NaN,8,0,2,1,3.0
101503,NaN,0.441842,29,0,0.198918,5916.0,12,0,0,0,0.0

## `sampleEntry.csv`

In [4]:
df = GiveMeSomeCredit.load_sample_entry_data()

/Users/rina/llm-classification/data/GiveMeSomeCredit/raw/sampleEntry.csv Memory Usage: 1.55 MB

,dtype,count,non_null,null_count,mean,std,min,25%,50%,75%,max
Probability,float64,101503,101503,0,0.067664,0.110445,0.003513,0.011705,0.023285,0.067193,0.826056

        Probability
Id
1          0.080807
2          0.040719
3          0.011968
4          0.067640
5          0.108264
...             ...
101499     0.045363
101500     0.343775
101501     0.006970
101502     0.121994
101503     0.044248

[101503 rows x 1 columns]

## `Data Dictionary.xls`

In [5]:
df = GiveMeSomeCredit.load_data_dictionary()

Sheet1 Memory Usage: 0.00 MB

,dtype,count,non_null,null_count,unique,top,freq
Description,object,11,11,0,11,Person experienced 90 days past due delinquenc...,1
Type,object,11,11,0,4,integer,7

,Description,Type
Variable Name,,
SeriousDlqin2yrs,Person experienced 90 days past due delinquenc...,Y/N
RevolvingUtilizationOfUnsecuredLines,Total balance on credit cards and personal lin...,percentage
age,Age of borrower in years,integer
NumberOfTime30-59DaysPastDueNotWorse,Number of times borrower has been 30-59 days p...,integer
DebtRatio,"Monthly debt payments, alimony,living costs di...",percentage
...,...,...
NumberOfOpenCreditLinesAndLoans,Number of Open loans (installment like car loa...,integer
NumberOfTimes90DaysLate,Number of times borrower has been 90 days or m...,integer
NumberRealEstateLoansOrLines,Number of mortgage and real estate loans inclu...,integer
NumberOfTime60-89DaysPastDueNotWorse,Number of times borrower has been 60-89 days p...,integer
NumberOfDependents,Number of dependents in family excluding thems...,integer

Sheet2 Memory Usage: 0.00 MB
Sheet2 is empty or has no columns.

Sheet3 Memory Usage: 0.00 MB
Sheet3 is empty or has no columns.